.card{
  display: flex;
  gap: 20px;
  // overflow-y:scroll;
  
  .imageContainer{
    flex: 2;
    height: 200px;
    border-style: solid;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  
  .textContainer{
    border-style: solid;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    img{
      width: 16px;
      height: 16px;
    }

    .title{
      font-size: 20px;
      font-weight: 600;
      color: #444;
      transition: all 0.4s ease;
      
      &:hover{
        color: #000;
        scale: 1.01;
      }
    }

    .address{
      display: flex;
      align-items: center;
      font-size: 14px;
      gap: 5px;
      color: #888;
    }

    .price{
      font-size: 20px;
      font-weight: 300;
      padding: 5px;
      border-radius: 5px;
      background-color: rgba(254,205,81,0.438);
      width: max-content;
    }
    .bottom{
      display: flex;
      justify-content: space-between;
      gap: 10px;

      .features{
        display: flex;
        gap: 20px;
        font-size: 14px;


        .feature{
          display: flex;
          align-items: center;
          gap: 5px;
          background-color: whitesmoke;
          padding: 5px;
          border-radius: 5px;
        }
      }

      .icons{
        gap: 20px;
        display: flex;

        .icon{
          border: 1px solid #999;
          padding: 2px 5px;
          border-radius: 5px;
          cursor: pointer;

          display: flex;
          align-items: center;
          justify-content: center;

          &:hover{
            background-color: lightgrey;
          }
        }
      }
    }



  }
}