
.listPage{
  display: flex;

  .listContainer{
    flex: 3;
    height: 100%;

    .wrapper{
      padding: 50px;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
  }

  .mapContainer{
    flex: 2;
    background-color: #fcf5f3;
    height: 100%;
    border-style: solid;
  }
}