
@mixin sm {
  @media (max-width: 738px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: 1366px) {
    @content;
  }
}

.homePage {
  display: flex;
  height: 100%;

  .textContainer {
    flex: 3;

    .wrapper {
      padding-right: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      height: 100%;
      // border-style: solid;
      margin-bottom: 200px;

      section{
        margin-top: 80px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        // border-style: solid;
        box-shadow: 0 4px 6px rgba(0,0,0,0.5);


        a{
          // border-style: solid;
          display: block;
          margin-top: 50px;
          text-align: center;

         

          button{
            width: 50%;
            padding: 15px;
            border-radius: 10px;
            color: white;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.4s ease;

            &:hover{
              scale: 1.05;
            }
          }

        }
        
        h1{
          font-size: 50px;
          margin-bottom: 20px;
        }

        p{
          margin-top: 20px;
          font-size: 20px;
        }

        .contact-text{
          display: flex;
          width: 100%;

        }

        .contact-items{
          display: flex;
          width: 100%;

          flex-direction: column;
          gap: 20px;
          // border-style: solid;
          align-items: center;
          justify-content: center;

          list-style: none;

          li{
            font-size: 20px;
            text-align: center;

          }

          img{
            width: 80px;
          }
        }
      }

      p{
        font-size: 22px;
      }

      @include lg{
        padding-right: 50px;
      }

      @include md{
        padding: 0;
      }

      @include sm{
        justify-content: flex-start;
      }

      .title {
        font-size: 64px;

        @include lg {
          font-size: 48px;
        }
      }

      .boxes {
        display: flex;
        border-style: solid;
        justify-content: space-between;

        @include sm {
          display: none;
        }

        h1 {
          font-size: 36px;

          @include lg {
            font-size: 32px;
          }
        }

        h2 {
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
  }

  .imgContainer {
    flex: 2;
    background-color: #fcf5f3;
    // position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-around;

    // border-style: solid;
    height: 2000px;
    // width: 100%;
    margin-bottom: 50px;

    @include md {
      display: none;
    }

    img {
      width: 100%;
      // position: absolute;
      // right: 0;
      margin-top: 80px;
      margin-bottom: 240px;

      @include lg {
        width: 105%;
      }
    }
  }
}