*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: inherit;
}
body{
  font-family:  sans-serif;
  overflow: hidden;
  background-color: white;
  color: black;
}
input{
  padding: 10px;
  margin: 10px;
  width: 250px;
}
button{
  padding: 12px 24px;
  background-color: #fece51;
  cursor: pointer;
  border: none;
  max-width: 150px;
}