
@mixin sm {
  @media (max-width: 738px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: 1366px) {
    @content;
  }
}
.profilePage {
  display: flex;
  height: 100%;
  

  @include md{
    flex-direction: column;
    overflow: scroll;
  }

  .details {
    flex: 3;
    overflow-y: scroll;
    padding-bottom: 50px;

    @include md{
      flex:none;
      height: max-content;
    }

    .wrapper{
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      // border-style: solid;

      .title{
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1{
          font-weight: 300;
        }

        button{
          padding: 12px 24px;
          background-color: #fece51;
          border-radius: 5px;
          cursor: pointer;
          border: none;
          transition: all 0.4s ease;
          &:hover{
            scale: 1.05;
          }
        }
      }

      .info{
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 20px;
        // border-style: solid;

        .profileAvatar{
          height: 200px;
          width: 200px;
          background-color: red;
        }

        span{
          display: flex;
          align-items: center;
          gap: 20px;

          font-size: 30px;
        }

        button{
          margin-top: 20px;
          width: 120px;
          height: 50px;
          background-color: teal;
          border: none;
          color: white;
          padding: 10px 20px;
          cursor: pointer;
          border-radius: 10px;
          font-size: 20px;

          transition: all 0.4s ease;

          &:hover{
            scale: 1.05;
          }
        }

        img{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
  .chatContainer {
    flex: 2;
    background-color: rgb(167, 233, 233);
    height: 100%;

    @include md{
      flex:none;
      height: max-content;
    }

    .wrapper{
      padding: 0px 20px;
      height: 100%;
    }
  }
}
// .profilePage{
//   display:inline;
//   flex-direction: row;
//   height: 100%;
//   background-color: aquamarine;

//   .details{
//       flex: 3;
//       overflow: scroll;
//       padding-bottom: 50px;
//       background-color: rgb(219, 175, 198);

//       .wrapper{
//           padding-right: 50px;
//           display: flex;
//           flex-direction: column;
//           gap: 50px;

//           .title{
//               display: flex;
//               align-items: center;
//               justify-content: space-between;



//               h1{
//                   font-weight: 300;

//               }
//               button{
//                   padding: 12px 24px;
//                   background-color: beige;
//                   cursor: pointer;
//                   border: none;
//               }
//           }
//           .info{
//               display: flex;
//               flex-direction: column;
//               gap: 20px;

//               span{
//                   display: flex;
//                   align-items: center;
//                   gap: 20px;
//               }
//               img{
//                   width: 40px;
//                   height: 40px;
//                   border-radius: 50%;
//                   object-fit: cover;

//               }
//           }
//       }
//   }
//   .chatContainer{
//       flex: 7;
//       background-color: beige;
//       height: 100%;
//     //   background-color: black;
      

//       .wrapper{
//           padding: 0px 20px;
//       }
      
//   }
// }
